# help files
_ModpackUploader/secrets.ps1
_Changelog_.md
.vscode/


# preference files
shaderpacks/SEUS*
shaderpacks/Complementary*
/resourcepacks/
config/rubidium_extras.toml
config/oculus.properties


# root folders
.mixin.out/
.persistent/
/asm/
/backups/
/caches/
/craftpresence/
/crash-reports/
/fancymenu_data/
/fancymenu_setups/
/dumps/
/logs/
/natives/
/profileImage/
/saves/
/screenshots/
/tmp/
/simplebackups/
/Xaero*/
/notes/


# root files
*.log
*.nps
*.dll
/.curseclient
/.ReAuth.cfg
/BotaniaVars.dat
/config.bak.json
/config.json
/knownkeys.txt
/minecraftinstance.json
/options.txt
/optionsof.txt
/optionsshaders.txt
/patchouli_data.json
/usercache.json
/usernamecache.json
/WailaErrorOutput.txt
/servers.dat
/servers.dat_old
/modlist.html
/manifest.json
/o_prof
/TrashSlotSaveState.json


# outputs
*.bak
llibrary/debug/
config/codechicken/supporters.marker
config/fantasticlib/reference/
config/multimob/modInformation/
config/mputils/infopanel/example/
config/ClimaticBiomes/BiomeList.txt
config/JustEnoughCalculation/record.json
config/triumph/script/triumph/example/
config/triumph/script/triumph/vanilla/
config/triumph/documentation/
config/biomesoplenty/biomes/defaults/
config/biomesoplenty/biome_ids.json
config/BiomeTweaker/output/
config/netherex/biomes/
config/konkrete/locals/
config/fancymenu/locals/
config/ItemLocks/
config/loliasm/
config/tellme/
local/ftbutilities/backups.json
local/ftbutilities/uploaded_crash_reports/
local/client/sidebar_buttons.json
journeymap/config/5.7/journeymap.minimap.config
journeymap/icon/theme/flat/
journeymap/data/
journeymap/icon/
journeymap/journeymap.log
mods/memory_repo/
mods/nicephore/
/resources/pack.mcmeta


# configs
config/betterfps.json
config/jei/worldSettings.cfg
config/jeresources/jeresources.cfg
config/fastload.properties
config/craftpresence.properties
config/splash.properties
config/fancymenu/config.txt
config/InvTweaks.cfg
config/roughlyenoughitems/pinyin_double.properties
config/roughlyenoughitems/pinyin.properties
config/roughlyenoughitems/changelog.txt
config/xaerominimap_entities.json
config/xaeropatreon.txt
config/enchantingcommands.json5
# config/sound_physics_remastered/

